doctype 5
html
  head
    title= "Quiz game"
    link(href="/bootstrap/css/bootstrap.min.css" rel="stylesheet")
    link(rel="stylesheet" href="/css/styles.css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="/bootstrap/js/bootstrap.min.js")
    script(src="/bootstrap/js/bootbox.js")
    script(src="/socket.io/socket.io.js")
    script(src="/client.js")
  body(style="width: 100%")
    h1#header Welcome to the game
    #canvas-container
      canvas#board(height="800" width="1200")
    .btn-group
      button#move-button(type="button" class="btn btn-default").
        move
      button#question-button(type="button" class="btn btn-default").
        Question!
      button#start-button(type="button" class="btn btn-default").
        Start Game
    #image-container
      img#boardPiece(src="download.jpg")

