doctype 5
html
  head
    title= "Quiz game"
    link(href="/bootstrap/css/bootstrap.min.css" rel="stylesheet")
    link(rel="stylesheet" href="/css/styles.css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="/bootstrap/js/bootstrap.min.js")
    script(src="/bootstrap/js/bootbox.js")
    script(src="/socket.io/socket.io.js")
    script(src="/client.js")
  body(style="width: 100%")
    #gamehtml
      h1#header Welcome to the game
      #canvas-container
        canvas#board(height="800" width="1200")
      .btn-group
        button#move-button(type="button" class="btn btn-default").
          move
        button#question-button(type="button" class="btn btn-default").
          Question!
        button#start-button(type="button" class="btn btn-default").
          Start Game
      .btn-group(data-toggle="buttons")
        label(class="btn btn-primary" id="turnBasedLabel") Turn Based
          input(type="radio" name="GameOptions" id="turnBased")
        label(class="btn btn-primary" id="raceLabel") Race
          input(type="radio" name="GameOptions" id="race")
    #lobbyhtml
      h1#lobbyheader Find 1 or more people to play with
      select#select-players(multiple="multiple")
      .btn-group
        button#enterGame-button(type="button" class="btn btn-default") Enter Game
    #chooseHandle
      h1 Please choose a username
      .input-group(style="width: 400px")
        span.input-group-addon Enter Username
        input#username(type"text" class="form-control" placeholder="submit with enter...")

